{% extends 'base.html' %}
{% block title %}All Notes{% endblock %}
{% block content %}
<div class="max-w-5xl bg-white p-8 rounded-lg shadow-md mx-auto mt-10">
  <div class="flex justify-between items-center mb-6">
    <h2 class="text-2xl font-bold">Note List</h2>
    <a href="{% url 'add_note' %}" class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700">Add Note</a>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-6">
    {% for note in notes %}
      <div class="p-6 rounded shadow scale-95 duration-300 cursor-pointer hover:scale-100">
        <h3 class="text-lg font-semibold">{{ note.title }}</h3>
        <p class="text-sm text-gray-600">{{ note.status }}</p>
        <div class="mt-2 flex gap-2">
          <a href="{% url 'note_details' note.pk %}" class="text-blue-600 hover:underline">View</a>
          <a href="{% url 'update_note' note.pk %}" class="text-yellow-600 hover:underline">Edit</a>
          <a href="{% url 'delete_note' note.pk %}" class="text-red-600 hover:underline">Delete</a>
        </div>
      </div>
    {% empty %}
      <p>No notes found.</p>
    {% endfor %}
  </div>

  {% include "components/pagination.html" with page_obj=notes %}
</div>
{% endblock %}
