{% extends 'base.html' %}

{% block title %}Expense List{% endblock title %}
    
{% block content %}
  <div class="max-w-6xl mx-auto px-4 py-8 bg-white p-8 rounded-lg">
    <div class="flex justify-between items-center mb-6">
        <h2 class="text-2xl font-bold">Expense List</h2>
        <a href="{% url 'add_expense' %}" class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700">Add Expense</a>
    </div>
    {% if page_obj %}
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for expense in page_obj %}
          <div class="bg-white shadow-md scale-95 hover:scale-100 rounded-lg p-6 hover:shadow-md transition">
            <div class="text-sm text-gray-500">{{ expense.date }}</div>
            <h3 class="text-lg font-semibold text-gray-800 mt-1">{{ expense.title }}</h3>
            <p class="mt-2 text-gray-700">₹{{ expense.amount }}</p>
            <p class="text-sm text-gray-500 mt-1">Category: {{ expense.category }}</p>

            <div class="mt-4 flex items-center justify-between text-sm space-x-4">
                <a href="{% url 'expense_details' expense.pk %}" class="text-blue-600 hover:underline">View</a>
                <a href="{% url 'expense_update' expense.pk %}" class="text-yellow-600 hover:underline">Edit</a>
                <a href="{% url 'expense_delete' expense.pk %}" class="text-red-600 hover:underline">Delete</a>
            </div>

          </div>
        {% endfor %}
      </div>
    {% else %}
      <p class="text-center text-gray-500 mt-4">No expenses found.</p>
    {% endif %}

    <div class="mt-8">
      {% include 'components/pagination.html' with page_obj=page_obj %}
    </div>
  </div>
{% endblock %}
